.glow{
  color: white;
  font-family: 'Cherry Bomb One';
  font-size: 35px;
  transition: all 5ms ease;
  animation: glow 1s ease-in-out infinite alternate;
  user-select: none;
  margin-bottom: 0;
}
.glow:hover{
  transform: scale(1.15);
}

@-webkit-keyframes glow{
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e82626, 0 0 40px #e82626, 0 0 50px #e82626, 0 0 60px #e82626, 0 0 70px #e82626;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #8f3232, 0 0 40px #8f3232, 0 0 50px #8f3232, 0 0 60px #8f3232, 0 0 70px #8f3232, 0 0 80px #8f3232;
  }
}
@keyframes moveTruck {
  0% {
    transform: translateX(0);
    /* transform: scaleX(1); */
  }
  50% {
    transform: translateX(300%);
    /* transform: scaleX(-1); */
  }
  100% {
    transform: translateX(-300%) ;
    /* transform: scaleX(1) */
  } 
}

.CStruck {
  animation: moveTruck 6s linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  user-select: none;
}

.CScontainer{
  font-family: 'Arimo';
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #3b3f44;
  border-radius: 20px;
  box-shadow: 2px 2px 10px #560606;
  height: 200px;
  width: 400px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
}
#CSclose{
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  border-radius: 20px;
  background-color:  #8f3232;
  color: white;
}
#CSclose:hover{
  background-color:#e82626;
}