:root {
  --dim-gray: #646768ff;
  --onyx: #3B3D41ff;
  --timberwolf: #CBD0C9ff;
  --ash-gray: #A3AAA8ff;
  --old-rose: #C48A8D;
}

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Roboto:wght@100&family=Rubik+Puddles&family=Urbanist:wght@100&family=Cherry+Bomb+One&family=Vina+Sans&family=Ysabeau:wght@200;300&display=swap');


/* font-family: 'Quicksand', sans-serif;
font-family: 'Rubik Puddles', cursive;
font-family: 'Urbanist', sans-serif;
font-family: 'Vina Sans', cursive; */

body {
  margin: 0;
  padding: 0;
}

.full-screen-image {
  background-image: url(https://www.wallpapertip.com/wmimgs/66-666819_website-design-background-creative-background-image-for-website.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.typing-animation {
  overflow: hidden;
  white-space: nowrap;
  border-right: .15em solid orange;
  animation:
    typing 2.5s steps(23, end),
    blink-caret .75s step-end infinite;
  font-family: 'Bebas Neue';
  font-size: 5em;
  color: white;
}

.typing-animation::selection {
  color: white;
  background: var(--old-rose);
}

@keyframes blink-caret {

  from,
  to {
    border-color: transparent
  }

  50% {
    border-color: var(--old-rose);
  }
}

.quote {
  background-color: var(--dim-gray);
}

.quote img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.explore {
  background-color: var(--dim-gray);
  justify-content: center;
  text-align: center;
  font-family: 'Rubik Puddles', cursive;
  font-size: 2em;
  display: flex;
  align-items: center;
}

.title-g {
  margin-right: 10px;
  user-select: none;
}

.inner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--onyx);
}

.hearts {
  text-align: center;
  user-select: none;
}
.heartsHR{
  border: none;
  height: 1px;
  background-color: black;
}
#search {
  border: none;
  border-radius: 20px;
  padding: 12px 20px;
  padding-right: 40px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 300px;
  height: 40px;
  font-size: 30px;
}

.icon {
  user-select: none;
}

.rowEX {
  display: flex;
  justify-content: center;
}

.checkEX{
  padding: 20px;
  border: 1px solid var(--onyx);
  height: 35%;
  width: 35%;
  margin: 5%;
  border-radius: 5px;
}

.boxesEX {
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 50px;
  cursor: pointer;
  user-select: none;
}

.image{
  display: block;
}
.description{
  display: none;
  font-size: 25px;
}
.checkEX:hover{
  transform: scale(1.2);
    .description{
      display: block;
    }
    .image{
      display: none;
    }
}
.contactDiv{
  background-color: var(--old-rose);
  justify-content: center;
  text-align: center;
}
.contactDiv p{
  user-select: none;
}
.contactDiv a{
  user-select: auto;
}
.contactDiv a:hover{
  color: var(--timberwolf);
}
.contactDiv h2{
  user-select: none;
}
br{
    user-select: none; /* Standard */
}
#IFAclose {
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  border-radius: 20px;
  background-color: #ffc72e;
  color: black;
  user-select: none;
}
#IFAclose:hover {
  background-color: #eeab1b;
  box-shadow: 1px 1px #8e7310;
}
#IFAframe{
  border-radius: 20px;
}
.IFAbox{
  background-color: #f7dda6;
  height: 90%;
}